<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>WalkinBingo</title>
</head>
<body>
	<!--<form method="post" action="/scan" enctype="multipart/form-data">-->
	<!--	<input type="file" name="picture" accept="image/*" require>-->
	<!--	<input type="submit" value="送信する">-->
	<!--</form>-->
	<!--<video id="camera" width="300" height="200"></video>-->
	<!--<canvas id="picture" width="300" height="200"></canvas>-->
	<!--<form>-->
	<!--	<button type="button" id="shutter">シャッター</button>-->
	<!--</form>-->
	
	<div class="main container-sm bg-white text-dark">
		<!--<div class="ratio ratio-1x1" id="bingoDiv"></div>-->
		<div class="bingo p-1">
			<div class="row ">
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box0">
					</div>
				</div>
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box1">
					</div>
				</div>
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box3">
					</div>
				</div>
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box4">
					</div>
				</div>
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box5">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box6">
					</div>
				</div>
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box7">
					</div>
				</div>
				<div class="col g-0 m-1">
					<div class="ratio ratio-1x1" id="box8">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="cameraPage container-sm bg-dark text-white">
		<div class="ratio ratio-1x1" id="cameraDiv"></div>
		<button type="button" class="btn btn-primary" id="flipButton">FlipCamera</button>
		<button type="button" class="btn btn-primary" id="shutterButton">Shutter</button>
	</div>
	
	<script src="/assets/js/sketch.js"></script>

</body>
</html>
